<div class="container-fluid">
    <hr color="black">
    <div class="container-fluid d-flex m-2" style="justify-content: center; align-items: center;">  
        <button class="btn btn-info" routerLink="/search/bypin">search by pin</button>   &nbsp; &nbsp;
        <button class="btn btn-info" routerLink="/search/byDistrict">search by District</button> &nbsp; &nbsp; 
        <button class="btn btn-info" routerLink="/search/byLocation">search by Location</button>                       
    </div><br>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
