<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="container-fluid d-flex ">
                <select (change)="selectedState($event)" class="custom-select ">
                    <option>Select State</option>
                    <option *ngFor="let state of states" value="{{state.state_id}}">{{state.state_name}}</option>
                </select>&nbsp; &nbsp; &nbsp; &nbsp;
                <select (change)="selectedDistricts($event)" class="custom-select ">
                    <option>Select District</option>
                    <option *ngFor="let dist of districts" value="{{dist.district_id}}">{{dist.district_name}}</option>
                </select>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="date" id="dt" #date class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="container d-flex justify-content-center">
                <button class="btn btn-danger" (click)="onClick(date.value)">Search</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <pagination-controls  (pageChange)="page = $event" class="pagin"></pagination-controls>
        <ul class="d-flex justify-content-around p-2 shadow" id="ul1" *ngFor="let i of allSessions | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalLength}">
            <li >
                <h5 class="text-center"><b>{{i.name}}</b></h5><hr>
                <h6>Address: {{i.address}},{{i.block_name}},</h6>
                <h6>{{i.district_name}},{{i.state_name}},</h6>
                <h6>{{i.pincode}}</h6>
            </li>
            <li class="mt-5">
                <h1 class="badge badge-primary">{{i.vaccine}}</h1>&nbsp;&nbsp;
                    <h1 class="badge badge-danger">{{i.min_age_limit}}+</h1>&nbsp;&nbsp;
                    <h1 class="badge badge-success">{{i.fee_type}}</h1>
            </li>
            <li >
                <h6>Available slots</h6>
                    <ul *ngFor="let s of i.slots" style="list-style-type: none;">
                        <li><h1 class="badge badge-primary">{{s}}</h1></li>
                    </ul>
            </li>
        </ul>
    </div>
</div>

